* {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: rgb(160,170,170);
    margin: 0;
    padding: 0;
}

html {
    background-color:rgb(250, 250, 250);
}

a:link{
    color: rgb(160,170,170);
    text-decoration: none;
}

a:visited {
    color: rgb(160,170,170);
}

.banner {
    color: rgba(170,180,190,.8);
    font-family: "Raleway", sans-serif;
    font-size: 1vw;
    text-align: center;
    margin: 1em;
    padding: 2.5em;
    text-decoration: none;
}

.banner h1 {
    color: rgb(170,180,190);
    letter-spacing: 0.5em;
    word-spacing: -0.25em;
    font-weight: 500;
    font-size: 3vw;
}

.nav-bar {
    font-size: 1vw;
    padding: 0 5em;
}

.centerblock {
    background-color: rgb(230, 230, 225);
    color: rgb(250, 250, 250);
    width: 75vw;
    height: 30vw;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.centerblock h1 {
    color:rgb(250, 250, 250);
    font-size: 3vw;
}

.menu-container {
    display: flex;
}